* {
  box-sizing: border-box;
}

html {
  font-size: 16px;
}

body {
  margin: 0;
  background-color: #F5F7FB;
  font-family: "Karla", sans-serif;
}

.quiz-container {
  width: 100vw;
  padding: 3% 25%;
  display: flex;
  align-items: center;
  flex-direction: column;
  justify-content: center;
}

.quiz-title {
  font-weight: bold;
  font-size: 60px;
  line-height: 50px;
  color: #293264;
  text-align: center;
}

.quiz-button {
  margin: 20px;
  font: inherit;
  background: #4D5B9E;
  padding: 14px 30px;
  border: none;
  border-radius: 15px;
  font-weight: 500;
  text-align: center;
  color: #F5F7FB;
  cursor: pointer;
  outline: none;
}

.start-page {
  display: flex;
  flex-direction: column;
  align-items: center;
}

.start-page .quiz-button {
  padding: 20px 40px;
  font-size: 26px;
}

.quiz-description {
  font-family: Inter;
  font-weight: bold;
  font-size: 22px;
  line-height: 15px;
  text-align: center;
  color: #293264;
}

.quiz-container button:focus,
.quiz-container button:active {
  outline: none;
}

.quiz-question {
  line-height: 30px;
  color: #293264;
}

.quiz-answers {
  margin-top: 30px;
  padding: 0;
  list-style-type: none;
  display: flex;
  gap: 12px;
}

.quiz-answer {
  background: none;
  cursor: pointer;
  border: 2px solid #4D5B9E;
  padding: 8px 20px;
  border-radius: 20px;
  font-family: Inter;
  font-weight: 700;
  font-size: 16px;
  text-align: center;
  color: #293264;
}

hr {
  margin: 20px 0;
  padding: 0;
  border: 1px solid #DBDEF0;
}

.quiz-results {
  font-family: Inter;
  font-weight: bold;
  font-size: 18px;
  line-height: 15px;
  text-align: center;
  color: #293264;
}